link-workspace-packages=deep
prefer-workspace-packages=true

# Registry configuration for publishing
registry=https://registry.npmmirror.com/
@tiptap:registry=http://registry.fufenxi.com:4873/
@moni-ai:registry=http://registry.fufenxi.com:4873/
//registry.fufenxi.com:4873/:_authToken="fake-token"
